FIRST_RUN_AGE=63072000 # Pour le premier lancement, âge maximum des relevés (défaut: 2ans)
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=HUYGFgfTYGHCGFdgFCXGcghDHGvfyuJVhjJHcY-ECUSSrArUXeNP_d9NFkpC-GIj0kx7fsOWt4FRaGZ3r4ZHcNw== # A changer
DOCKER_INFLUXDB_INIT_PASSWORD=psdfjehwfpo52dfg # A changer

GAZPAR_USERNAME=
GAZPAR_PASSWORD=
GAZPAR_PCE=

LINKY_PRM=
LINKY_TOKEN=
LINKY_LOAD_CURVE=false
LINKY_PRODUCTION_CURVE=false
LINKY_PRODUCTION=false
